@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Reddit Sans", sans-serif;
  }

  :root {
    /* COLORS */
    --rtc-color-0: white;
    --rtc-color-1: black;
    --rtc-color-2: #f1f1f1;

    --rtc-bgButton: var(--rtc-color-1);
    --rtc-btnLetter: var(--rtc-color-0);
    --rtc-bgSearchBar: var(--rtc-color-2);
  
    /* BORDER RADIUS */
    --rtc-border-radius: 50px;
    --rtc-border-radius-s: 20px;
  
    /* SPACINGS */
    --rtc-margin-xs: 5px;
    --rtc-margin-s: 10px;
    --rtc-margin-m: 20px;
    --rtc-margin-l: 30px;
    --rtc-margin-xl: 40px;
    --rtc-margin-xxl: 150px;
  
    --rtc-padding-xs: 5px;
    --rtc-padding-s: 10px;
    --rtc-padding-m: 20px;
    --rtc-padding-l: 30px;
    --rtc-padding-xl: 40px;
  
    --rtc-gap-xs: 5px;
    --rtc-gap-s: 10px;
    --rtc-gap-m: 20px;
    --rtc-gap-l: 30px;
    --rtc-gap-xl: 40px;
    --rtc-gap-xxl: 50px;
  }


/* ! NAVBAR */
#navbar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;  /* Fija la barra de navegación en la parte superior */
  top: 0;           /* Alinea la barra de navegación con la parte superior de la página */
  z-index: 1000;    /* Asegura que la barra de navegación esté por encima de otros elementos */
  background-color: white; /* Añade un fondo para que el contenido no se vea detrás de la barra */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: Añade una sombra para darle algo de profundidad */
}

#navbar > img {
  height: 30px;
}

.logo {
  margin-left: var(--rtc-margin-l);
  cursor: pointer;
}

.search-button {
  border: none;
  padding: 5px 10px 10px 10px;
  border-radius: var(--rtc-border-radius);
  margin-right: var(--rtc-margin-xs);
}

.search-button:hover {
  cursor: pointer;
}

.button-img {
  height: 20px;
  padding-top: var(--rtc-padding-xs);
}

.search-form {
  width: 50%;
}

.search-bar {
  height: 40px;  
  width: 90%;
  background-color: var(--rtc-bgSearchBar);
  border: none;
  border-radius: var(--rtc-border-radius);
  padding-left: var(--rtc-padding-m); 
}

#navbar > ul {
  display: flex;
  gap: var(--rtc-gap-xxl);
  margin: var(--rtc-margin-m);
}

#navbar > ul > li {
  padding: var(--rtc-padding-s);
  border-radius: var(--rtc-border-radius);
}

#navbar > ul > li:hover {
  background-color: var(--rtc-bgButton);
  color: var(--rtc-btnLetter);
  cursor: pointer;
}

.notificaciones {
  margin-right: var(--rtc-margin-s);
}

.mensajes {
  margin-right: var(--rtc-margin-s);
}

.perfil {
  margin-right: var(--rtc-margin-s);
}

.notificaciones:hover {
  cursor: pointer;
}

.mensajes:hover {
  cursor: pointer;
}

.perfil:hover {
  cursor: pointer;
}

/* ! PICS GALLERY */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--rtc-gap-xxl);
  margin-top: var(--rtc-margin-xxl);
  margin-bottom: var(--rtc-margin-xxl);
}

.pic-pinterest {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: var(--rtc-border-radius-s);
  transition: transform 0.5s ease; /* Transición suave */
}

.pic-pinterest:hover {
  transform: scale(1.1); /* Zoom-in */
}

/* RESPONSIVE */
@media (width <= 920px) {
  #navbar > ul {
    display: none;
  }

  .search-button {
    display: none;
  }
}

/*! SCROLL-DOWN  */
.scale-on-scroll {
	transition: transform 0.5s ease;
}

/* View-Driven scaling animation */
@keyframes scale-a-lil {
	from {
		transform: scale(0.5);
    opacity:0;
	}
	to {
		transform: scale(1);
    opacity: 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
	@supports (animation-timeline: view()) {
		.scale-on-scroll {
			animation: scale-a-lil linear both;
			animation-timeline: view();
			animation-range: 25vh 75vh;
		}
	}
}