@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Reddit Sans", sans-serif;
  scroll-behavior: smooth;
  }

  :root {
    /* COLORS */
    --rtc-color-0: white;
    --rtc-color-1: black;
    --rtc-color-2: #f1f1f1;

    --rtc-bgButton: var(--rtc-color-1);
    --rtc-btnLetter: var(--rtc-color-0);
    --rtc-bgSearchBar: var(--rtc-color-2);
  
    /* BORDER RADIUS */
    --rtc-border-radius: 50px;
    --rtc-border-radius-s: 20px;
  
    /* SPACINGS */
    --rtc-margin-xs: 5px;
    --rtc-margin-s: 10px;
    --rtc-margin-m: 20px;
    --rtc-margin-l: 30px;
    --rtc-margin-xl: 40px;
    --rtc-margin-xxl: 150px;
  
    --rtc-padding-xs: 5px;
    --rtc-padding-s: 10px;
    --rtc-padding-m: 20px;
    --rtc-padding-l: 30px;
    --rtc-padding-xl: 40px;
  
    --rtc-gap-xs: 5px;
    --rtc-gap-s: 10px;
    --rtc-gap-m: 20px;
    --rtc-gap-l: 30px;
    --rtc-gap-xl: 40px;
    --rtc-gap-xxl: 50px;
  }


/* ! PICS GALLERY */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--rtc-gap-xxl);
  margin-top: var(--rtc-margin-xxl);
  margin-bottom: var(--rtc-margin-xxl);
  margin-left: var(--rtc-margin-m);
  margin-right: var(--rtc-margin-m);
}

.pic-pinterest {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: var(--rtc-border-radius-s);
  transition: transform 0.5s ease; /* Transición suave */
}

.pic-pinterest:hover {
  transform: scale(1.1); /* Zoom-in */
}

/* ! MENSAJE ERROR */
.gallery-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-message {
  margin-top: var(--rtc-margin-xxl);
  font-size: x-large;
  text-align: center;
}
.retry-button {
  padding: var(--rtc-padding-m);
  border-radius: var(--rtc-border-radius);
  background-color: var(--rtc-bgButton);
  color: var(--rtc-btnLetter);
  cursor: pointer;
  border: none;
  font-size: medium;
}
.retry-button:hover {
  transform: scale(1.1); /* Aumentar el tamaño del botón */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Añadir sombra */
}

/* ! LOAD MORE IMAGES */

#loadMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--rtc-padding-xl);
  margin-bottom: var(--rtc-margin-xl);
}
.loadMore-button {
  padding: var(--rtc-padding-m);
  border-radius: var(--rtc-border-radius);
  background-color: var(--rtc-bgButton);
  color: var(--rtc-btnLetter);
  cursor: pointer;
  border: none;
  font-size: medium;
}
.loadMore-button:hover{
  transform: scale(1.1); /* Aumentar el tamaño del botón */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Añadir sombra */
}

/* !HIDDEN ITEMS */
.hidden {
  display: none;
}

/*! RESPONSIVE */
@media (width <= 940px) {

  .error-message {
    font-size: medium;
  }

}

/*! SCROLL-DOWN  */
.scale-on-scroll {
	transition: transform 0.5s ease;
}

/* View-Driven scaling animation */
@keyframes scale-a-lil {
	from {
		transform: scale(0.5);
    opacity:0;
	}
	to {
		transform: scale(1);
    opacity: 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
	@supports (animation-timeline: view()) {
		.scale-on-scroll {
			animation: scale-a-lil linear both;
			animation-timeline: view();
			animation-range: 25vh 75vh;
		}
	}
}