
.sideSection {
  width: 50%;
  background-color: black;
  height: 400px;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%; /* Empieza fuera de la vista */
  margin-top: 80px; 
  padding: var(--rtc-padding-l);
  border-radius: var(--rtc-border-radius-s);
  transition: right 1.3s ease; /* Transición suave */
}

.sideSection.active {
  right: 0; /* Mueve el panel a la vista */
}

.sideSection > ul {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-l);
  justify-content: center;
  align-items: center;
  margin-top: var(--rtc-margin-l);
}

.sideSection > ul > li {
  color: white;
}

.sideSection > ul > li:hover {
  cursor: pointer;
  font-size: large;
}

